__pycache__/
*.pyc
*.pyo
*.egg-info/
.dist/
build/
.venv/
.env


runs/
.DS_Store
.ipynb_checkpoints/
**/*.pth
**/*.pth.tar

# Weights & Biases
wandb/
.wandb/
wandb_cache/

.nltk_data/

./src/analysis_submodule
experiments
evaluation.md
experiments.tar.gz
experiments_tar.md